SPRING_PROFILES_ACTIVE=prod
PROD_DATABASE_URL=
PROD_DATABASE_USERNAME=
PROD_DATABASE_PASSWORD=
PROD_WEBSERVER_PORT_MAPPING=

APP_CORS_ALLOWED_ORIGINS=
APP_CORS_ALLOWED_METHODS=
APP_CORS_ALLOWED_HEADERS=
APP_CORS_ALLOW_CREDENTIALS=
APP_CORS_MAX_AGE=